<!DOCTYPE html>
<html>
  <head>
    <title>FriendListApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin:0px;">
    <div style="width:100%; display:flex; flex-direction:row; background-color:grey; color:white">
    <h2 style="margin-left:40px;"> <%= link_to "Friend App", "/friends" %></h4>
    <h4 style="margin-left:240px; color:white;"><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %></h4>
  
    <h4 style="margin-left:40px;"> <%= link_to "User Details", "/users/edit" %></h4>
    <h4 style="margin-left:40px;"> <%= link_to "Sign In", "/users/sign_in" %></h4>
    
    </div>
    
    <br/><br/><br/>
    <%= yield %> 
    <br/> <br/> <br/>
    
  </body>
</html>
